/* reset */
 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* estilos de body */

body{
    background-color: #ECEEF3;
}


/* estilos de contenedor */

.contenedor{
    display: grid;
    height: 100vh;
}


/* estilos del header */

header{
    background-color: rgb(122, 174, 157);
    height: 5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header h1{
    font-size: 0.6rem;
}

header nav ul{
    display: flex;
    gap: 0.5rem;

}

header nav ul li{
    list-style: none;
    background-color: rgb(20, 95, 70);
    padding: 3px;
    margin-right: 1rem;
    border-radius: 50px;
    box-shadow: 2px 2px 5px;
}

/* estilos al main */



/* estilos de imagen */

.imagenes-carrusel{
   width: 30%;
  }

  .contenedor-img{
    width: 1500px;
  }


/* clase de las imagenes */

.imagen-1{
    display: flex;
    flex-direction: column;
}

/* mq */

@media screen and (min-width:600px) {

    header h1{
        font-size: 2rem;
    }


    main div{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
        
}



@media screen and (min-width:800px) {

    header h1{
        font-size: 3rem;
    }

    main div{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
        
}


/* estilos de footer */

footer h3{
    text-align: center;
    background-color: rgb(122, 174, 157);
    height: 3rem;
}


